<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
    <%- include('nav', { link: "add-appt-style.css" }); %>

  <body>
    <div class="main">

    
    <form action="/add-appt" method="POST">
      Patient Name:
      <select name="patient-name" id="patient-name">
        <% formData[0].forEach((element) => { %>
        <option value="<%= element.name %>"><%= element.name %></option>
        <%})%>
      </select>
      <br /><br />
      Hospital:
      <select name="hospital" id="hospital">
        <% formData[1].forEach((element) => { %>
        <option value="<%= element.name %>"><%= element.name %></option>
        <%})%>
      </select>
      <br /><br />
      Date:
      <label for="date" name="dateForm"></label>
      <input type="date" id="date" name="date" />
      <br /><br />

      <table>
        <tr>
          <th>Department:</th>
          <th>Time:</th>
        </tr>

        <% formData[2].forEach((element) => { %>
        <tr>
          <td>
            <label for="department"><%= element.name %></label>
            <input
              type="checkbox"
              id="department"
              name="department"
              value="<%= element.name %>"
            />
          </td>

          <td>
            <label for="time"></label>
            <input type="time" id="time" name="time" />
          </td>
        </tr>
        <%})%>
      </table>
      <input type="submit" value="Submit" />

      <br /><br />
      <!-- Department:
      <select name="department" id="department">
        <% formData[2].forEach((element) => { %>
        <option value="<%= element.name %>"><%= element.name %></option>
        <%})%>
      </select>
      <br /><br /> -->

      <!-- Time:
      <label for="time"></label>
      <input type="time" id="time" name="time" /><br /><br />
      <input type="submit" value="Submit" /> -->
    </form>
    </div>
  </body>
</html>
